<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"    lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${name}"></p>

<tr th:each="localString:${localList}">
    <td th:text="${localString}">
    <p>
</tr>
<p>The number of actual workers: </p>
<p th:text="${localList.size()}"></p>


<form th:action="@{add-local-worker}" th:object="${addedLocalWorker}" method="post">
    <p>New Worker: </p>
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Surname: <input type="text" th:field="*{surname}"></p>
    <p><input type="submit" value="Add new worker"></p>
</form>
<button onclick="window.location.href='/'">back to start page</button>
</body>
</html>